.listCard {
  display: flex;
  align-items: center;
  background: #ffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  &__content {
    margin-left: 30px;
  }
  &__img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
  }
}
